<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro Proprietário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="area">
<div id="formCadastro" >
<ion-item >
  <ion-label>Nome:</ion-label>
<ion-input type="text" id="field"></ion-input>
</ion-item>
<ion-item>
<ion-label>Telefone:</ion-label>
<ion-input type="text" id="field"></ion-input>
</ion-item>
<ion-item>
<ion-label>Data de Nascimento:</ion-label>
<ion-input type="date" id="field"></ion-input>
</ion-item>
<ion-item>
<ion-label>Sexo:</ion-label>
<ion-input type="text" id="field"></ion-input>
</ion-item>
<ion-item>
<ion-label>Fone:</ion-label>
<ion-input type="text" id="field"></ion-input>
</ion-item>
<ion-item>
<ion-label>Email:</ion-label>
<ion-input type="text" id="field"></ion-input>
</ion-item>
</div>
<ion-button id="btnCadastrar">Cadastrar</ion-button>
</ion-content>
