<ion-header>
  <ion-toolbar>
    <ion-title>teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-button expand="full" *ngFor="let tela of telas" [routerLink]="{{telas.path}}">
     {{tela.text}}
   </ion-button>
</ion-content>
