#area{

    align-items: center;
    
    text-align: center;
    
    display: flex;
    
    flex-direction: row;
    
    justify-content: center;
    
    margin-top: 20px;
    
    }
    
    #formCadastro{
    
    background-image: linear-gradient( to bottom, rgb(245, 117, 32), rgb(250, 160, 57), rgb(148, 93, 219), rgb(95, 144, 218) );
    
    color: white;
    
    width: 600px;
    
    }
    
    #field{
    
    margin-left: 10px;
    
    margin-right: 10px;
    
    }

    #btnCadastrar{
        background-color: rgb(60, 60, 170);
        color: white;
        border-color: white;
        width: 200px;
        height: 50px;
    }

    #pontoinvisivel{
        color: transparent;
    }