<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <div>
    <ion-button expand="block" color="primary" (click)="logar()">
      Logar
    </ion-button>
    <ion-button expand="block" color="danger">
      Sair
    </ion-button>
  </div>
  <div *ngIf="erro">
    <ion-item lines="none">
      <ion-label color="danger">
        {{ mensagem }}
      </ion-label>
    </ion-item>
  </div>
</ion-content>

