<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Rua</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.rua"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Número (* complemento)</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.numero"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.bairro"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">CEP</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cep"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cidade"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">UF</ion-label>
    <ion-select [(ngModel)]="usuario.uf">
      <ion-option value="SP">São Paulo</ion-option>
      <ion-option value="PR">Paraná</ion-option>
      <ion-option value="SC">Santa Catarina</ion-option>
      <ion-option value="RS">Rio Grande do Sul</ion-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Tipo usuário</ion-label>
    <ion-select [(ngModel)]="usuario.tipo">
      <ion-option value="física">Física</ion-option>
      <ion-option value="jurídica">Jurídica</ion-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button expand="full" color="primary" (click)="salvar()">
      Salvar
    </ion-button>
    <ion-button expand="full" color="danger">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>

