<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-button expand="block" color="primary" [routerLink]="['/usuarios']">
      Usuários
    </ion-button>
    <ion-button expand="block" color="danger" [routerLink]="['/adm-login']">
      Sair
    </ion-button>
  </div>
</ion-content>

