<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro Imobiliária</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="area">
  <div id="formCadastro">
    <ion-item>
    <ion-label>Nome:</ion-label>
    <ion-input type="text" id="field"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Endereço:</ion-label>
    <ion-input type="text" id="field"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Cidade:</ion-label>
    <ion-input type="text" id="field"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Bairro:</ion-label>
    <ion-input type="text" id="field"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Fone:</ion-label>
    <ion-input type="number" id="field"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Site:</ion-label>
    <ion-input type="text" id="field"></ion-input>
    </ion-item>
<ion-button id="btnCadastrar" >Cadastrar</ion-button>
  </div>

</ion-content>
